/* css 스타일을 별도 파일로 작성. 
-> 사용하는 html 문서에서는 link 태그로 이 파일을 설정.
*/
@import url('https://fonts.googleapis.com/css?family=Jua:400');
*{
    font-family: 'jua', cursive;
    font-size: medium; 
}
table{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

td{
    padding: 10px;
}
/* 색상 지정방법 : 색이름 or rgb(0)함수 or 16진수 */
/*
tr > td:nth-child(1){
    background-color: #c463a1;
    color: white;
    text-align: center;
    border-radius: 5px;
 }
*/
label.title{
    /* #CC6699sms #c69 */
    background-color: #86cf86;
    color: white;
    border-radius: 5px;
    text-align: center;
    /* 인라인요소는 너비가 적용이 안된다. 블럭요소처럼 너비 높이가 적용되게 display 속성 사용*/
    width: 80%;
    display: inline-block;
    padding: 10px;
}
button{
    padding: 7px 15px;
    margin: 15px 7px;
    background-color: rgb(130,192,20);
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;
}
/* pseudo (의사,유사) 클래스 hover 는 마우스 포인터 올라갔을때 */
button:hover{
    background-color: rgb(65,96,10);
}
label.mpt{
    cursor: pointer;
}
tr:last-child > td{
    background-color: white;
    text-align: center;
}
input[type=text],input[type=password],input[type=email]{
    width: 60%;
}
input,select{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid gray;
}